@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 1EM;
  background-color: black;
  /*overflow: hidden;*/

}


#backgroundVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  max-height:100%; 
  max-width:100%;
  z-index: 0;
}


.Overlay {
  position: fixed;
  z-index: 5;
  color: #f1f1f1;
}

.Overlay1 {
  position: fixed;
  z-index: 5;
  text-align: center;
  color: #f1f1f1;
  text-shadow: 0px 0px 18.9253px rgba(255, 255, 255, 0.7);
 

}
  /* width: 100%; */
  /* height: 100%; */
.LOADING svg{
  position: fixed;
  width: 95%;
  height: auto;
}

.LOADING img{
  position: fixed;
  top: 0px;
  z-index: -3;
}

#boxed{
  position: absolute;
  border: 2px solid white;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  font-family: 'Roboto Mono';
  text-align: left;
  z-index: 6;
  top: 33%;
  left: 35%;
  background-color: rgba(0, 0, 0, 0.5);

}

.top{
  position: relative;
  z-index: 5;
  font-size: 36px;
  font-weight: bold;

}

#button {
  color: rgba(255, 255, 255, 0.9);
  border: 2px solid white; 
  background-color: inherit;
  font-size: 96px;
  font-weight: lighter;
  letter-spacing: 0.2em;
  text-shadow: 0px 0px 18.9253px rgba(255, 255, 255, 0.7);
}

.Data p{
  position: absolute;
  bottom: 8.5%;
  left: 8.5%;
  font-size: 20px;
  width: 100%;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* This fires as soon as the element enters the DOM */
.fade-enter{
  opacity: 0;
}
/* This is where we can add the transition*/
.fade-enter-active{
  opacity: 1;
  transition: opacity 2s;
}
/* This fires as soon as the this.state.showList is false */
.fade-exit{
  opacity: 1;
}
/* fires as element leaves the DOM*/
.fade-exit-active{
  opacity: 0;
  transition: opacity 2s;
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 4s;
}



.over-exit-active {
  opacity: 0;
  transition: opacity 3s;
}



//Zoom animations
#Zoom_Container {
    background-color: "brown";
    min-width: 100%;
    min-height:100%;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
    border: 2px #333 solid;
    position: fixed;
  }   

#Zoom_Container img{
    background-color: #333;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 2px #333 solid;
    position: absolute;
}  

#Zoom1, #Zoom2, #Zoom3, #Zoom4, #Zoom5, #Zoom6, #Zoom7, #Zoom8, #Zoom9, #Zoom10, #Zoom11, #Zoom12, #Zoom13, #Zoom14, #Zoom15, #Zoom16 {
  transition: transform 2s;
  transform: scale(4, 4);
}

#ZoomOut{
  transition: transform 2s;
  transform: scale3d(1, 1, 1) translate3d(0%, 0%, 0px);  
}

