@font-face {
  font-family: 'Roboto Mono';
  src: local('Roboto Mono'), url(./Fonts/Roboto_Mono/RobotoMono-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto Thin';
  src: local('Roboto Thin'), url(./Fonts/Roboto_Mono/RobotoMono-Light.ttf) format('truetype');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 1EM;
  /* overflow: hidden; */
}

.videoContainer {
  width: 100%;
  margin: 60px auto 0 auto;
}

#backgroundVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  max-height:100%; 
  max-width:100%;
  z-index: 0;
  overflow: hidden;
}

.overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 20;
  background: rgba(0, 0, 0, 0.0);
  animation: fadeIn 0.5s linear;
}

.IntroJumbotron {
  text-align: center;
  width: 800px;
  height: 100px;
  font-size: 30px;
  position: absolute;
  top: 45%;
  left: 50%;
  margin-top: -50px;
  margin-left: -400px;
  z-index: 3;
  opacity: 0;
  animation: fadeInOut 5s linear;
}

.IntroJumbotron p {
  font-family: 'Roboto Mono';
  border: 1px solid white;
  padding: 13px;
}

#jumbotron-title {
  color: black;
  background-color: white;
  margin-bottom: -30px;
}

#jumbotron-subtitle {
  color: white;
}

#jumbotron-date {
  color: white;
  letter-spacing: 6px;
  opacity: 0;
  animation: fadeInOut 3s linear;
}

.IntroSubtitle {
  color: white;
  text-align: center;
  letter-spacing: 4px;
  font-size: 18px;
  width: 600px;
  position: absolute;
  top: 80%;
  left: 50%;
  margin-top: -50px;
  margin-left: -300px;
  z-index: 3;
  opacity: 0;
  animation: fadeInOut 5s linear;
  font-family: 'Roboto Mono';
}

@keyframes fadeInOut {
  0%, 100% { opacity: 0 }
  20%, 80% { opacity: 1 }
}

.IntroDate {
  text-align: center;
  width: 900px;
  height: 100px;
  font-size: 30px;
  position: absolute;
  top: 45%;
  left: 50%;
  margin-top: -50px;
  margin-left: -450px;
  z-index: 3;
}

.IntroDate p {
  border: 1px solid white;
  padding: 13px;
  font-family: 'Roboto Mono';
  text-transform: uppercase;
}

@keyframes fadeIn {
  0% { opacity: 0 }
  100% { opacity: 1 }
}


.Overlay {
  position: fixed;
  z-index: 5;
  color: #f1f1f1;
  border: none;
}

.Overlay1 {
  position: fixed;
  z-index: 5;
  text-align: center;
  color: #f1f1f1;
  text-shadow: 0px 0px 18.9253px rgba(255, 255, 255, 0.7);
}

#boxed {
  animation: fadeInOut 3s linear;
}

#overview-garden {
  min-width: 100%;
  min-height:100%;
  max-height: 100%;
  max-width: 100%;
}

#boxed{
  position: absolute;
  border: 2px solid white;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  font-family: 'Roboto Mono';
  text-align: left;
  z-index: 6;
  top: 33%;
  left: 35%;
  background-color: rgba(0, 0, 0, 0.5);

}

.top{
  position: relative;
  z-index: 5;
  font-size: 36px;
  font-weight: bold;

}

#button {
  color: rgba(255, 255, 255, 0.9);
  border: 2px solid white; 
  background-color: inherit;
  font-size: 96px;
  font-weight: lighter;
  letter-spacing: 0.2em;
  text-shadow: 0px 0px 18.9253px rgba(255, 255, 255, 0.7);
}

.Data p{
  position: absolute;
  bottom: 8.5%;
  left: 8.5%;
  font-size: 20px;
  width: 100%;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.over-exit-active {
  opacity: 0;
  transition: opacity 3s;
}



/* Zoom animations */
#Zoom_Container {
    background-color: "brown";
    min-width: 100%;
    min-height: 100%;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
    position: fixed;
    border: none;
    /* z-index: 100; */
  }   

#Zoom_Container img{
    background-color: #333;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    overflow: hidden;
    position: absolute;
    border: none;
}

#click {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 200;
}

#Zoom1, #Zoom2, #Zoom3, #Zoom4, #Zoom5, #Zoom6, #Zoom7, #Zoom8, #Zoom9, #Zoom10, #Zoom11, #Zoom12, #Zoom13, #Zoom14, #Zoom15, #Zoom16 {
  transition: transform 2s;
  transform: scale(4, 4);
}

.ZoomBox {
  position: absolute;
  width: 20%;
  height: 20%;
}

.ZoomBox img {
  width: 20%;
  height: 20%;
  z-index: 99;
  animation: zoomboxBlink 1s linear;
}

@keyframes zoomboxBlink {
  0%, 20% {opacity: 1;}
  21%, 40% {opacity: 0;}
  41%, 100% {opacity: 1;}
}

#zoombox1 {
  transition: transform 1s ease;
  transform: scale(10, 10) translate(-800%, -1000%);
}
#zoombox2 {
  transition: transform 1s ease;
  transform: scale(10, 10) translate(800%, -1000%);
}
#zoombox3 {
  transition: transform 1s ease;
  transform: scale(10, 10) translate(-800%, 1000%);
}
#zoombox4 {
  transition: transform 1s ease;
  transform: scale(10, 10) translate(800%, 1000%);
}

#zoomboxshrink {
  top: -100px;
  left: -100px;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

#ZoomOut{
  transition: transform 2s;
  transform: scale(1, 1);
}

.GridOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  opacity: 0.8;
  animation: fadeIn80 0.5s linear;
  overflow: hidden;
}

#simulation_video_container {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

.SimOverlay {
  height: 100%;
  width: 100%;
  opacity: 0.8;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2;
  animation: fadeIn80Earlier 4s linear;
}

.OverviewGrid {
  position: fixed;
  width: 95%;
  height: auto;
  opacity: 0.6;
  z-index: 30;
}

.OverviewDate {
  text-align: center;
  width: 800px;
  height: 100px;
  font-size: 60px;
  font-family: Roboto Mono;
  letter-spacing: 3px;
  font-weight: lighter;
  z-index: 3;
  margin-top: -50px;
}

.OverviewDate p {
  font-family: 'Roboto Thin';
  border: 1px solid white;
  padding: 13px;
}

.robot-stats {
  transition: opacity 1s ease-in-out;

  position: absolute;
  z-index: 10;
  bottom: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 0 40px 40px 40px;
}

.robot-stats__item {
  flex-basis: 30%;
  color: white;
  letter-spacing: 7px;
  text-transform: uppercase;
  font-size: 20px;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.7);
  height: 35px;
  font-family: 'Roboto Mono';

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.robot-stats__item__label {
  padding-left: 5px;
  margin: 0;
}

@keyframes fadeIn80 {
  0% { opacity: 0 }
  100% { opacity: 0.8 }
}

@keyframes fadeIn80Earlier {
  0% { opacity: 0 }
  100% { opacity: 0.8 }
}

/* CSSTRANSITION ANIMATIONS */

/* This fires as soon as the element enters the DOM */
.fade-enter{
  /* opacity: 0; */
  animation: fadeIn 1s ease;
}
/* This is where we can add the transition*/
.fade-enter-active{
  /* opacity: 1; */
  animation: fadeIn 1s ease;
}
/* This fires as soon as the this.state.showList is false */
.fade-exit{
  /* opacity: 1; */
  animation: fadeOut 1s ease;
}
/* fires as element leaves the DOM*/
.fade-exit-active{
  /* opacity: 0; */
  animation: fadeOut 1s ease;
}

.fade-in {
  opacity: 1;
  animation-name: fadeIn;
  /* animation-iteration-count: 1; */
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

/* This fires as soon as the element enters the DOM */
.fadelonger-enter{
  /* opacity: 0; */
  animation: fadeIn 1s ease;
}
/* This is where we can add the transition*/
.fadelonger-enter-active{
  /* opacity: 1; */
  animation: fadeIn 1s ease;
}
/* This fires as soon as the this.state.showList is false */
.fadelonger-exit{
  /* opacity: 1; */
  animation: fadeOut 2s ease;
}
/* fires as element leaves the DOM*/
.fadelonger-exit-active{
  /* opacity: 0; */
  animation: fadeOut 2s ease;
}

.fadelonger-in {
  opacity: 1;
  animation-name: fadeIn;
  /* animation-iteration-count: 1; */
  animation-timing-function: ease-in;
  animation-duration: 2s;
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

.robot-stats {
  animation: fadeInRobotStats 2s linear; 
}

@keyframes fadeInRobotStats {
  0% {opacity: 0;}
  100% {opacity: 1;}
}


.date-box-row {
  transition: opacity 1s ease-in-out;

  position: absolute;
  z-index: 10;
  top: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 40px 40px 40px 40px;
  animation: fadeInRobotStats 1s linear;
}

.date-box-row-item {
  flex-basis: 30%;
  color: white;
  letter-spacing: 25px;
  text-transform: uppercase;
  font-size: 60px;
  font-family: 'Roboto Thin';

  border-top: 0.5px solid rgba(255, 255, 255, 0.7);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#date-box-div {
  border: none;
}

.date-box {
  border: 1px solid white;
  padding: 5px;
  font-weight: lighter;
}

/* SIDEBAR */
#page-wrap {
  text-align: center;

  /* Prevent sidebar from showing a scrollbar on page */
  overflow: auto;
}

/* Individual item */
.bm-item {
  display: inline-block;

  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: #ffffff;
  transition: color 0.2s;
}

/* Change color on hover */
.bm-item:hover {
  color: #ffffff;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 20px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #000000;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #000000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
  display: none;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #ffffff;
}

/* General sidebar styles */
.bm-menu {
  background: #000000;
  padding: 2.5em 1.5em 0;
  
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 40px;

  letter-spacing: 0.3em;
  text-transform: uppercase;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #000000;
}

/* Wrapper for item list */
.bm-item-list {
  color: #ffffff;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.0);
}
