.main-content {
  max-width: 85%;
  margin: 10px auto 0px auto;
  text-align: center;
}

.about-content {
  max-width: 75%;
  margin: 50px auto;
  white-space: pre-wrap;
  text-align: left;
}

.page-heading {
  /* margin: 0px auto 0px auto; */
  margin: auto;
  max-width: 80%;
  text-align: center;
}

.page-heading__title {
  text-transform: uppercase;
  font-family: 'Roboto Mono';
  font-weight: lighter;
  font-size: 4vh;
  letter-spacing: 15px;
  margin: 0;
}

.page-heading__title--portrait {
  text-transform: uppercase;
  font-family: 'Roboto Mono';
  font-weight: lighter;
  font-size: 3vh;
  letter-spacing: 11px;
  /* margin-top:  */
  margin: 8vh auto 0 auto;
}

.page-heading__subtitle {
  text-transform: uppercase;
  font-family: 'Roboto Mono';
  font-weight: lighter;
  font-size: 2.5vh;
  letter-spacing: 9px;
  margin-top: 0px;
}

.page-heading__subtitle--portrait {
  text-transform: uppercase;
  font-family: 'Roboto Mono';
  font-weight: lighter;
  font-size: 1.5vh;
  letter-spacing: 7px;
  margin-top: 0px;
  margin-bottom: 2vh;
}

.section-heading {
  text-transform: uppercase;
  font-family: 'Roboto Mono';
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 10px;
  margin: 50px auto 20px auto;
}

.watercolor {
  /* margin-top: 0px;
  display: inline-block;
  max-width: 90%; */
}

.watercolor--small {
  /* margin-top: -30px; */
  max-width: 60%;
}

.compact-text > p {
  margin: 0 auto 0 auto;
}

p {
  font-family: 'Roboto Mono';
  letter-spacing: normal;
  font-weight: lighter;
  font-size: 15px;
  margin-top: 20px;
}

.body {
  margin: auto;
}

.credits {
  width: 100%;
}

td:first-child {
  padding-right: 30px;
  width: 45%;
}

td > p {
  margin: 4px 0;
}

.back-video {
  /* margin-top: -40px; */
}

/* SPINNER */
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.loading-component__rotate {
  width: 15vh;
  height: 15vh;
  margin: auto;
  top: 50vh;
  left: 45vw;
  opacity: 0.6;
  animation: rotation 2s infinite linear;
  display: block;
  position: absolute;
}

.loading-component__rotate--portrait {
  width: 9vh;
  height: 9vh;
  margin: auto;
  top: 45vh;
  left: 40vw;
  opacity: 0.6;
  animation: rotation 2s infinite linear;
  display: block;
  margin-top: -140px;
  position: absolute;
}
