.DS_Store
*.prj
.vscode
.idea
env
__pycache__/
Experiments_v1_pre_11_11_2019/
gym_config/
PPO/
MLP/
CNN/
Baseline/
Generated_data/
nets/
net_policy_data/
naive_policy_data/
baseline_policy_data/
*.egg-info
dist/
build/
*.egg
Learning/images/


